<!-- <footer class="bg-black/85 text-white pb-6"> -->
<footer class="text-black/85 pt-6 pb-6">
  <!-- <div class="flex justify-center">
    <img class="min-w-screen" src="/assets/img/asset-top.svg" alt="Logo ISTAL">
  </div>  -->
  <div class="container mx-auto text-center">
    <p class="text-lg font-semibold">ISTAL - Instituto Superior de Tecnologías Aplicadas Lucas</p>
    <div class="mt-4 flex justify-center space-x-4">
      <a href="#">
        <img src="/assets/img/instagram-logo.svg" alt="" class="">
      </a>

      <a href="#">
        <img src="/assets/img/twitter-logo.svg" alt="" class="">
      </a>

      <a href="#">
        <img src="/assets/img/github-logo.svg" alt="" class="">
      </a>
    </div>
  </div>
</footer>

